In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
df=pd.read_csv('weather.csv')

In [6]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  01-01-2012            0.0      12.8       5.0   4.7  drizzle
1  02-01-2012           10.9      10.6       2.8   4.5     rain
2  03-01-2012            0.8      11.7       7.2   2.3     rain
3  04-01-2012           20.3      12.2       5.6   4.7     rain
4  05-01-2012            1.3       8.9       2.8   6.1     rain

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [8]:
subset=df.loc[:,'precipitation':'weather']

In [9]:
df1=subset

In [10]:
df1

      precipitation  temp_max  temp_min  wind  weather
0               0.0      12.8       5.0   4.7  drizzle
1              10.9      10.6       2.8   4.5     rain
2               0.8      11.7       7.2   2.3     rain
3              20.3      12.2       5.6   4.7     rain
4               1.3       8.9       2.8   6.1     rain
...             ...       ...       ...   ...      ...
1456            8.6       4.4       1.7   2.9     rain
1457            1.5       5.0       1.7   1.3     rain
1458            0.0       7.2       0.6   2.6      fog
1459            0.0       5.6      -1.0   3.4      sun
1460            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

In [11]:
x=df1.iloc[:,:4]

In [12]:
x

      precipitation  temp_max  temp_min  wind
0               0.0      12.8       5.0   4.7
1              10.9      10.6       2.8   4.5
2               0.8      11.7       7.2   2.3
3              20.3      12.2       5.6   4.7
4               1.3       8.9       2.8   6.1
...             ...       ...       ...   ...
1456            8.6       4.4       1.7   2.9
1457            1.5       5.0       1.7   1.3
1458            0.0       7.2       0.6   2.6
1459            0.0       5.6      -1.0   3.4
1460            0.0       5.6      -2.1   3.5

[1461 rows x 4 columns]

In [13]:
y=df1.iloc[:,4:].values

In [14]:
y

array([['drizzle'],
       ['rain'],
       ['rain'],
       ...,
       ['fog'],
       ['sun'],
       ['sun']], dtype=object)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y.ravel(),test_size=0.2,random_state=0)

In [17]:

x_train

      precipitation  temp_max  temp_min  wind
646             6.9      13.9       7.8   3.0
92              0.0      16.7       4.4   3.1
818            14.0      11.7       7.2   5.1
302            10.9      15.6      10.0   4.9
1259            0.0      23.9       9.4   2.6
...             ...       ...       ...   ...
763             0.0       8.9       1.1   2.5
835             0.5      14.4       7.8   4.0
1216            0.0      18.3       8.9   3.7
559             0.0      26.1      11.1   3.1
684             3.0      10.6       7.2   6.0

[1168 rows x 4 columns]

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
st=StandardScaler()

In [20]:
x_train=st.fit_transform(x_train)

In [21]:
x_test=st.fit_transform(x_test)

In [22]:
x_train

array([[ 0.52001435, -0.34077338, -0.07596684, -0.18601731],
       [-0.45793396,  0.03914932, -0.74651473, -0.11786542],
       [ 1.52630899, -0.63928407, -0.19429882,  1.24517234],
       ...,
       [-0.45793396,  0.25624801,  0.14097513,  0.29104591],
       [-0.45793396,  1.3146041 ,  0.57485906, -0.11786542],
       [-0.03273904, -0.78853941, -0.19429882,  1.85853933]])

In [23]:
y_train

array(['rain', 'sun', 'rain', ..., 'sun', 'sun', 'rain'], dtype=object)

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
model= RandomForestClassifier()

In [26]:
model.fit(x_train, y_train)

RandomForestClassifier()

In [27]:
predicted= model.predict(x_test)

In [28]:
from sklearn import metrics

In [29]:
print("\nAccuracy Of Random forest classifier For The Given Dataset : ", metrics.accuracy_score(y_test,predicted))

Accuracy Of Random forest classifier For The Given Dataset :  0.7849829351535836

In [30]:
from sklearn.metrics import confusion_matrix

In [31]:
confusion_matrix(y_test,predicted)

array([[  1,   0,   0,   0,   9],
       [  1,   3,   1,   0,  24],
       [  0,   0, 111,   0,  12],
       [  0,   0,   3,   3,   0],
       [  4,   8,   1,   0, 112]], dtype=int64)